body {
  text-align: center;
  background-color: salmon;
}
img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 30px;
}

.box-line {
  width: 700px;
  border: 3px solid thistle;
  border-radius: 20px;
  background-color: aliceblue;
  margin: 50px auto;
  padding: 20px 20px 40px 20px;
 }

 h1{
  width: 300px;
  border: 3px solid thistle;
  border-radius: 30px;
  margin: 10px auto;
 }